
html, body, #root {
    font-family: 'Manrope', sans-serif;
    background-color: var(--slate-50);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
}

